.page {
    width: 100%;
    display: flex;
    justify-items: center;
    flex-direction: column;
}

.Test {
    width: 20%;
    align-self: center;
    background-color: aqua;
    margin: 10%;
}
@media screen and (max-width: 600px) {
    input[type="text"], 
    .Test {
        background-color: inherit;
        height: 20px;
        font-size: 10px;
    }
}